.aws
.gitconfig
.less
.ssh
.viminfo
.vscode
AppData
Contacts
Downloads 
Favorites
IntelGraphics
Profiles
Links
Music
NTUSER.
.lesshst
IntelGraphicsProfiles/
NTUSER.DAT
NTUSER.DAT{1c2b59c6-c5f5-11eb-bacb-000d3a96488e}.TM.blf
NTUSER.DAT{1c2b59c6-c5f5-11eb-bacb-000d3a96488e}.TMContainer00000000000000000001.regtrans-ms
NTUSER.DAT{1c2b59c6-c5f5-11eb-bacb-000d3a96488e}.TMContainer00000000000000000002.regtrans-ms
OneDrive/
Saved Games/
Searches/
Videos/
ntuser.dat.LOG1
ntuser.dat.LOG2
ntuser.ini
